fp_workshop1/__pycache__/e1_filter.cpython-313.pyc
fp_workshop1/__pycache__/e2_map.cpython-313.pyc
fp_workshop1/__pycache__/e4_groupby.cpython-313.pyc
fp_workshop1/__pycache__/refs.cpython-313.pyc
fp_workshop1/__pycache__/tests.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e1_proposal.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e2_proposal.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e3_proposal.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e4_proposal.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e5_proposal.cpython-313.pyc
fp_workshop1/proposal/__pycache__/e6_proposal.cpython-313.pyc

fp_workshop1/proposal/__pycache__/e5_proposal.cpython-314.pyc

fp_workshop1/__pycache__/refs.cpython-314.pyc
fp_workshop1/__pycache__/tests.cpython-314.pyc
fp_workshop1/proposal/__pycache__/e1_proposal.cpython-314.pyc
fp_workshop1/proposal/__pycache__/e5_proposal.cpython-314.pyc
